<%= form_for(@proposal) do |f| %>
  
  <div class="field">
  	<%= f.text_area :title, placeholder: "Proposal Title..." %>
    <%= f.text_area :description, placeholder: "Describe the project or job..." %>
  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>